Repository Hamdane-yassine/weather-forecast: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend, build-producer, build-consumer

build-frontend:
  stage: build
  image: docker:24.0.7-cli
  services:
  - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_TAG: ${CI_COMMIT_TAG:-$CI_COMMIT_SHORT_SHA}
  ...

build-backend:
  stage: build
  image: docker:24.0.7-cli
  services:
  - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_TAG: ${CI_COMMIT_TAG:-$CI_COMMIT_SHORT_SHA}
    DOCKER_BUILD_ARGS: ''
    IMAGE_NAME: $IMAGE_PREFIX/backend
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

build-producer:
  stage: build
  image: docker:24.0.7-cli
  services:
  - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_TAG: ${CI_COMMIT_TAG:-$CI_COMMIT_SHORT_SHA}
    DOCKER_BUILD_ARGS: ''
    IMAGE_NAME: $IMAGE_PREFIX/producer
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

build-consumer:
  stage: build
  image: docker:24.0.7-cli
  services:
  - docker:24.0.7-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_TAG: ${CI_COMMIT_TAG:-$CI_COMMIT_SHORT_SHA}
    DOCKER_BUILD_ARGS: ''
    IMAGE_NAME: $IMAGE_PREFIX/consumer
  before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
  ...

Test CI pipeline using rules
  .gitlab-ci.yml
  backend/server.js
  consumer/consumer.py
  frontend/src/App.js
  producer/producer.py
Due: build-frontend, build-backend, build-producer, build-consumer

Test CI pipeline
  .gitlab-ci.yml
  backend/server.js
  consumer/consumer.py
  frontend/src/App.js
  producer/producer.py
Due: build-frontend, build-backend, build-producer, build-consumer

Simplify versionning in CI pipeline for testing purposes
  .gitlab-ci.yml
  backend/server.js
  consumer/consumer.py
  frontend/src/App.js
  producer/producer.py
Due: build-frontend, build-backend, build-producer, build-consumer

Fix CI pipeline Dockerfile path issue
  .gitlab-ci.yml
  backend/server.js
  consumer/consumer.py
  frontend/src/App.js
  producer/producer.py
Due: build-frontend, build-backend, build-producer, build-consumer

Test CI pipeline with short commit SHA
  .gitlab-ci.yml
  backend/server.js
Due: build-backend

Add support for dynamic number of partitions in Kafka topics
  backend/config.js
  backend/kafka.js
  consumer/consumer.py
  producer/producer.py
Due: build-backend, build-producer, build-consumer

Test deploy stage in CI pipeline
  .gitlab-ci.yml
  backend/server.js
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/producer.yaml
Due: build-backend

update manifests
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/producer.yaml
Due: none

Test deploy stage in CI pipeline 2
  .gitlab-ci.yml
  backend/server.js
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/producer.yaml
Due: build-backend

push modifs
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/kafka.yaml
  k8s-manifests/producer.yaml
Due: none

Fix issues in deploy stage in CI pipeline
  .gitlab-ci.yml
  backend/server.js
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/producer.yaml
Due: build-backend

push kafka
  k8s-manifests/kafka.yaml
Due: none

Fix issues in deploy stage
  .gitlab-ci.yml
  backend/server.js
Due: build-backend

update kafka
  k8s-manifests/kafka.yaml
Due: none

Fix deploy stage issues
  .gitlab-ci.yml
  backend/server.js
Due: build-backend

update kafka img
  k8s-manifests/kafka.yaml
Due: none

update zookeper img version
  k8s-manifests/kafka.yaml
Due: none

Test deploy stage
  backend/server.js
Due: build-backend

Test deploy stage
  .gitlab-ci.yml
Due: none

remove old kafka
  k8s-manifests/kafka.yaml
Due: none

Change consumer partitionning and fix some issues
  backend/kafka.js
  consumer/consumer.py
  docker-compose.yml
  producer/producer.py
Due: build-backend, build-producer, build-consumer

update manifests
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/kafka.yaml
  k8s-manifests/producer.yaml
Due: none

update manifests
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/producer.yaml
Due: none

Test deploy stage
  .gitlab-ci.yml
  tests/k8s-manifests/backend.yaml
  tests/k8s-manifests/consumer.yaml
  tests/k8s-manifests/frontend.yaml
  tests/k8s-manifests/producer.yaml
Due: none

Test deploy stage
  .gitlab-ci.yml
  backend/server.js
Due: build-backend

Fix pending cities check
  consumer/consumer.py
  consumer/database.py
Due: build-consumer

update consumer img
  k8s-manifests/consumer.yaml
Due: none

Update backend image to 936f9914
  tests/k8s-manifests/backend.yaml
Due: none

Finalize gitlab-ci pipeline
  .gitlab-ci.yml
  backend/server.js
  consumer/consumer.py
  frontend/src/App.js
  k8s-manifests/backend.yaml
  k8s-manifests/consumer.yaml
  k8s-manifests/frontend.yaml
  k8s-manifests/producer.yaml
  producer/producer.py
  tests/k8s-manifests/consumer.yaml
  tests/k8s-manifests/frontend.yaml
  tests/k8s-manifests/producer.yaml
Due: build-frontend, build-backend, build-producer, build-consumer

Update backend image to efb4e439
  k8s-manifests/backend.yaml
Due: none

Finalize gitlab-ci pipeline : fix issues
  .gitlab-ci.yml
  backend/server.js
  consumer/consumer.py
  frontend/src/App.js
  producer/producer.py
Due: build-frontend, build-backend, build-producer, build-consumer

Path conditions:
  build-frontend: any of: frontend/**/*
  build-backend: any of: backend/**/*
  build-producer: any of: producer/**/*
  build-consumer: any of: consumer/**/*
